{% extends 'rootpage.html'%}
{% load static %}

{%block content %}

    <form action="" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <div class="form-group">
            <label>
                name
            </label>

            <input class="form-control" type="text" name="title" value={{product.title}}  />


        </div>
        <div class="form-group">
            <label>
                price
            </label>

            <input class="form-control" type="text" name="price" value={{product.price}}  />
        </div>
        <div class="form-group">
            <label>
                author
            </label>

            <input class="form-control"  type="text" name="description" value={{product.description}} />
        </div>
        <div class="form-group">
            <label>
                image
            </label>

            {{imageform}}
        </div>
        <div class="form-group">
            <label>
                category
            </label>

            <select  name="category">
                {%for i in category%}
                <option  value={{i.id}}>{{i.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label>
                submit
            </label>

            <input type="submit" name="submit" class="form-control" />
        </div>
    </form>
{% endblock %}