{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/static/css/home.css' %}" />
    <script src="{% static 'https://code.jquery.com/jquery-3.5.1.slim.min.js' %}"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="{% static 'https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js' %}"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <title>Happy Paws || cat categories - {% block title %}{% endblock %} </title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <!-- header -->
            <div class="hbar">

                <div class="logo">
                    <a href="/templates/home.html">
                        <img src="{% static '/static/img/images/logo.png' %}" width="128px" height="128px" />
                    </a>
                </div>

                <div class="searchbar">
                    <form>
                        <input type="search" id="search" name="search" />
                    </form>
                </div>

                <div class="notification">
                    <a href="#"><img src="{% static '/static/img/images/notification.png %}" width="64px" height="64px" /></a>
                </div>

                <div class="signhome">
                    <form>
                        <a href="/New Login/newlogin.html" class="btn btn-primary">Sign in</a>
                    </form>
                </div>
            </div>

            <!-- navigationbar -->
            <div class="col-lg-12 navdiv ">
                <nav class="navbar navbar-expand-lg navbar-light bg-light hometag">

                    <div class="collapse navbar-collapse " id="navbarNav">
                        <ul class="navbar-nav navlist ">
                            <li class="nav-item active">
                                <a class="nav-link " href="home.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link dropdown-toggle" href="/HappyPaws-allcategories/categories.html"
                                    id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    All Categories
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item"
                                        href="/HappyPaws-PetSelect/Pet_Select/PetSelect.html"><b>Pets</b></a>
                                    <a class="dropdown-item" href="/templates/dogcategory.html">Dog</a>
                                    <a class="dropdown-item" href="/templates/catCategory.html">cat</a>
                                    <a class="dropdown-item" href="/templates/fishcategory.html">Fish</a>
                                    <a class="dropdown-item" href="/templates/birdcategory.html">Bird</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/templates/product.html"><b>Pet Products</b></a>
                                    <!-- <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><b>Pet Accessories</b></a> -->
                            </li>
                            <li class="nav-item">
                                <a class="nav-link movenav" href="/templates/petSelect.html">Pets</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link movenav" href="/templates/product.html">Pet products</a>
                            </li>
                            <!-- <li class="nav-item movenav">
                    <a class="nav-link" href="#">Pet Food</a> -->
                            <li class="nav-item dropdown">
                                <!-- DROPDOWN FOR OUR SERVICES  -->
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Our Services
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/templates/vaccine.html">Vaccination</a>
                                    <a class="dropdown-item" href="/templates/grooming.html">Grooming and trimming</a>
                                    <a class="dropdown-item" href="/templates/pethostel.html">Pet hostel</a>
                                </div>
                            </li>
                        </ul>
                    </div>


                </nav>
            </div>

            <!-- for images -->

            <div class="col-lg-12 producthome">

                <!-- New arrivals section-->
                <h2>CATS</h2>
                <div class="row prodimages mt-5">
                    <!-- <h4>corgi</h4> -->
                    <div class="col-lg-3">
                        <div class="card box">
                            <img class="card-img-top" src="{% static '/static/img/images/cat1.png' %}" alt="Card image cap">
                            <a class="detail" href="/product detail/productdetail.html">
                                <div class="card-body">
                                    <h5 class="card-title"> Abyssinian Cat</h5>
                                    <p class="card-text">Rs.2000</p>
                                    <a href="#" class="btn btn-primary">Add to cart</a>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card box">
                            <img class="card-img-top" src="{% static '/static/img/images/cat2.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Burmese Cat</h5>
                                <p class="card-text">Rs.5000</p>
                                <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card box">
                            <img class="card-img-top" src="{% static '/static/img/images/cat3.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Chartreux Cat Breed</h5>
                                <p class="card-text">Rs.4000</p>
                                <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card box">
                            <img class="card-img-top" src="{% static '/static/img/images/cat4.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">European Burmese Cat Breed</h5>
                                <p class="card-text">Rs.1000</p>
                                <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pets section-->
                <div class="row prodimages mt-5 pt-5">
                    <!-- <h4>Cats</h4> -->
                    <div class="col-lg-3">
                        <div class="card box">
                            <img class="card-img-top" src="{% static '/static/img/images/cat5.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Himalayan Cat Breed </h5>
                                <p class="card-text">Rs.2000</p>
                                <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card box">
                            <img class="card-img-top" src="{% static '/static/img/images/cat6.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">LaPerm Cat</h5>
                                <p class="card-text">Rs.5000</p>
                                <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card box">
                            <img class="card-img-top" src="{% static '/static/img/images/cat7.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Persian Cat Breed</h5>
                                <p class="card-text">Rs.4000</p>
                                <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card box">
                            <img class="card-img-top" src="{%static '/static/img/images/cat8.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Peterbald Cat Breed</h5>
                                <p class="card-text">Rs.1000</p>
                                <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Products secion -->
                <div class="row prodimages mt-5 pt-5">
                    <!-- <h4>Fish</h4> -->
                    <div class="col-lg-3">
                        <div class="card box">
                            <img class="card-img-top" src="{% static '/static/img/images/cat9.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Ragdoll Cat Breed</h5>
                                <p class="card-text">Rs.2000</p>
                                <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card box">
                            <img class="card-img-top" src="{% static '/static/img/images/cat10.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Scottish Fold Cat Breed</h5>
                                <p class="card-text">Rs.5000</p>
                                <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card box">
                            <img class="card-img-top" src="{% static'/static/img/images/cat11.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Siberian Cat Breed</h5>
                                <p class="card-text">Rs.4000</p>
                                <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-3">
                        <div class="card box">
                            <img class="card-img-top" src="{% static '/static/img/images/cat12.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Sphynx Cat Breed</h5>
                                <p class="card-text">Rs.1000</p>
                                <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Footer -->
        <footer class="page-footer font-small homefoot">

            <!-- Footer Links -->
            <div class="container">

                <!-- Grid row-->
                <div class="row text-center d-flex justify-content-center mb-0 botfoot">

                    <!-- Grid column -->
                    <div class="col-md-2 mb-3 pt-1">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="#!">About us</a>
                        </h6>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 mb-3 pt-1">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="/HappyPaws-HelpPage/Helppage.html">Help</a>
                        </h6>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 mb-3 pt-1">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="/HappyPaws-contactUs/try.html">Contact us</a>
                        </h6>
                    </div>
                    <!-- Grid column -->

                </div>

            </div>

    </div>
    <!-- Footer Links -->

    <!-- </footer> -->
    <!-- Footer -->
    </div>
    <script src="{% static 'https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js %}"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="{% static 'https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js %}"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</body>

</html>