{% extends 'owner/admin.html' %}

{%load static%}
{%block admincontent%}
<a href="{% url 'create-product'%}"><button class="btn btn-primary text-right"> Add New</button></a>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>id</th>
                <th>title</th>
                <th>price</th>
                <th>image</th>
                <th>description</th>
                <th>category</th>
                <th>update</th>
                <th>remove</th>
            </tr>
        </thead>

        <tbody>
            {%for product in products%}
            <tr>

                <td>{{product.id}}</td>
                <td>{{product.title}}</td>
                <td>{{product.price}}</td>
                <td>{{product.image}}</td>
                <td>{{product.description}}</td>
                <td>{{product.category}}</td>
                <td><a class="btn btn-sm btn-info" href="{% url 'update-product' product.id %}">Update</a></td>
                <td><a class="btn btn-sm btn-danger" href="{% url 'delete-product' product.id %}">Remove</a></td>

            </tr>
            {%endfor%}
        </tbody>

    </table>
</div>

{%endblock admincontent%}